body {
    background-image: linear-gradient(90deg, rgb(18, 20, 57), rgb(98, 98, 98));
    color: #fff;
}

.wrapper {
    max-width: 886px;
    width: 58%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    margin-bottom: 30px;
    display: flex;
}

.inp-wrapper input {
    padding: 10px 45px 10px 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.inp-wrapper input:focus {
    outline: none;
}

input[type='submit'] {
    padding: 10px 20px;
    margin-left: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

.p-style {
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
    font-size: 20px;
}

.notes {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-style {
    padding: 10px 20px;
    margin-left: 5px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {}