body {
    background-image: linear-gradient(90deg, rgb(18, 20, 57), rgb(98, 98, 98));
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    max-width: 886px;
    width: 58%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inp-wrapper input {
    padding: 10px 45px 10px 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.inp-wrapper input:focus {
    outline: none;
}

input[type='submit'] {
    padding: 10px 20px;
    margin-left: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

.p-style {
    width: 250px;
    margin: 0 auto;
    cursor: pointer;
    font-size: 20px;
}

.notes-wrapper {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notes {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.checkbox-style {
    width: 25px;
    height: 25px;
}

.btn-style {
    padding: 10px 20px;
    margin-left: 5px;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
    .p-style {
        width: 100px;
    }

    .btn-style {
        padding: 10px 5px;
        font-size: 12px;
    }

    .checkbox-style {
        width: 18px;
        height: 18px;
    }
}